# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build artifacts
build/

# Temporary dictionary build files
Scripts/jmdict-eng-common*.json
Scripts/jmdict-eng-common*.zip

# macOS
.DS_Store
