# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build artifacts
build/

# Temporary dictionary build files
Scripts/jmdict-eng*.json
Scripts/jmdict-eng*.zip

# Temporary Aozora catalog build files
Scripts/list_person_all_extended_utf8.csv
Scripts/list_person_all_extended_utf8.zip
Scripts/aozora_catalog.sqlite

# macOS
.DS_Store
